@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');


body {
    background-color: #18181A;
    animation: 1s ease-out 0s 1 onload_body;
    color: white;
    overflow: hidden;

}

h1, h3, h4, button {
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.title {
    text-align: left;
    margin: 20px;
}

.intro {
    margin-top: 7.5%;
    font-size: 25px;
}

.images {
    text-align: center;
}

#css {
    width: 8%;
}

@keyframes onload_body {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0)
    }
}

@keyframes onload_image {
    0% {
        margin-left: 0.2%;
        margin-right: 0.2%;
    }
    100% {
        margin-left: 1%;
        margin-right: 1%;
    }
}

.light-mode {
    background-color: #f7f7f7;
    color:#18181A;  
}

.mode-toggle {
    width: 2.5%;
    float: right;
}

.top {
    display: flex;
    justify-content: space-between;
}

.theme-toggle {
    margin-top: 1.5em;
    margin-right: 3em; 
}