@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body {
    background-color: #18181A;
    animation: 1s ease-out 0s 1 onload_body;
    color: #f7f7f7;
    overflow: hidden;
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

.title {
    text-align: left;
    margin: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.intro {
    margin-top: 7.5%;
    font-size: 25px;
}

@keyframes onload_body {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0)
    }
}

.light-mode {
    background-color: #f7f7f7;
    color:#18181A; 
}

.theme-toggle {
    margin-top: 1.5em;
    margin-right: 3em; 
}

.top a, .intro a {
    color: #f7f7f7;
    text-decoration: none;
}

.light-mode-links {
    color: #18181A !important;
}


.projects-list {
    list-style: none;
    font-size: 20px;
    border-radius: 20px;
    transition: linear 0.2s;
}

.projects-list:hover {
    background-color: #58585b;
}

.projects {
    width: 8%;
    margin: 0px auto;
}

.projects-list-light:hover {
    background-color: #989898 !important;
}

